  <div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
      <div class="container">
        <br><br>
        <div class="row center">
          <div class="col m3">
          </div>
          <div class=" col m6 ">
            <img vspace="50" src="/img/food_for_thought_white.svg" height="150" alt="Food for Thought logo">
          </div>
          <div class="col m3">
          </div>
        </div>
        <div class="row center">
          <h5 class="header center white-text">Share your culinary journey</h5>
        </div>
        <div class="row center">
          <a href="/signup" id="download-button" class="btn-large waves-effect waves-light hoverable red lighten-1">Get Started</a>
        </div>
        <br><br>

      </div>
    </div>

    <div class="parallax"><img src="img/brooke-lark-289769.png" class="responsive-img" alt="Unsplashed background img 1"></div>
  </div>


  <div class="container">
    <div class="section">

      <!--   Icon Section   -->
      <div class="row">
        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="material-icons">import_contacts</i></h2>
            <h5 class="center">Write a Recipe</h5>

            <p class="light">Never forget how to make your favorite dishes by writing your favorite recipes down on our platform. They'll all be saved in your personal recipe box, which you can share and add to your stories.</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="material-icons">publish</i></h2>
            <h5 class="center">Publish a Story</h5>

            <p class="light">When we cook a recipe, we're not just making food, we're making recipes. Want to document that awesome trip to Italy you took and all the fabulous recipes you learned? This is the perfect place to do that all in one place.</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="material-icons">share</i></h2>
            <h5 class="center">Share Your Journey</h5>

            <p class="light">Find inspiring culinary tales from the whole Food for Thought community. Try out new recipes from the community and post your own stories about them! Broaden your culinary world through sharing with other users.</p>
          </div>
        </div>
      </div>

    </div>
  </div>


  <div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="row center">
          <h5 class="header col s12 light">A modern responsive front-end framework based on Material Design</h5>
        </div>
      </div>
    </div>
    <div class="parallax"><img src="img/background2.jpg" alt="Unsplashed background img 2"></div>
  </div>

  <div class="container">
    <div class="section">

      <div class="row">
        <div class="col s12 center">
          <h3><i class="mdi-content-send brown-text"></i></h3>
          <h4>Contact Us</h4>
          <p class="left-align light">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam scelerisque id nunc nec volutpat. Etiam pellentesque tristique arcu, non consequat magna fermentum ac. Cras ut ultricies eros. Maecenas eros justo, ullamcorper a sapien id, viverra ultrices eros. Morbi sem neque, posuere et pretium eget, bibendum sollicitudin lacus. Aliquam eleifend sollicitudin diam, eu mattis nisl maximus sed. Nulla imperdiet semper molestie. Morbi massa odio, condimentum sed ipsum ac, gravida ultrices erat. Nullam eget dignissim mauris, non tristique erat. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae;</p>
        </div>
      </div>

    </div>
  </div>


  <div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="row center">
          <h5 class="header col s12 light">A modern responsive front-end framework based on Material Design</h5>
        </div>
      </div>
    </div>
    <div class="parallax"><img src="img/background3.jpg" alt="Unsplashed background img 3"></div>
  </div>
